@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ion-icon {
  pointer-events: none;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background-color: #112;
  font-family: Poppins !important;
  color: #eee;
}

body .game-body {
  position: absolute;
  height: 80vmin;
  width: 80vmin;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 3vmin;
  border-radius: 50%;
  --ball-color: transparent;
}

body .game-body .side {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20vmin;
  font-weight: 700;
  color: #0003;
  border-radius: 4vmin;
}

body .game-body .side .text {
  position: absolute;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: scale ease-in-out .2s;
  transition: scale ease-in-out .2s;
}

body .game-body .side::after {
  content: '';
  inset: 1.5vmin;
  position: absolute;
  border-radius: 4vmin;
}

body .game-body .side::before {
  content: '';
  pointer-events: none;
  opacity: 0;
  position: absolute;
  inset: -.5rem;
  background: var(--def-light-color);
  border-radius: 4vmin;
  -webkit-filter: blur(1vmin);
          filter: blur(1vmin);
  -webkit-transition: opacity ease-in-out .15s;
  transition: opacity ease-in-out .15s;
  z-index: -1;
}

body .game-body .side#green-side {
  --def-color: #0a4;
  --def-light-color: #7fa;
  background: var(--def-color);
}

body .game-body .side#green-side .text {
  right: 13%;
  bottom: 13%;
}

body .game-body .side#green-side, body .game-body .side#green-side::before, body .game-body .side#green-side::after {
  border-top-left-radius: 100%;
}

body .game-body .side#green-side::after {
  -webkit-box-shadow: inset calc(3vmin * 1) calc(3vmin * 1) 3vmin 3vmin #fff2;
          box-shadow: inset calc(3vmin * 1) calc(3vmin * 1) 3vmin 3vmin #fff2;
}

body .game-body .side#red-side {
  --def-color: #e22;
  --def-light-color: #f99;
  background: var(--def-color);
}

body .game-body .side#red-side .text {
  left: 13%;
  bottom: 13%;
}

body .game-body .side#red-side, body .game-body .side#red-side::before, body .game-body .side#red-side::after {
  border-top-right-radius: 100%;
}

body .game-body .side#red-side::after {
  -webkit-box-shadow: inset calc(3vmin * -1) calc(3vmin * 1) 3vmin 3vmin #fff2;
          box-shadow: inset calc(3vmin * -1) calc(3vmin * 1) 3vmin 3vmin #fff2;
}

body .game-body .side#blue-side {
  --def-color: #07f;
  --def-light-color: #6cf;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  background: var(--def-color);
}

body .game-body .side#blue-side .text {
  left: 13%;
  top: 13%;
}

body .game-body .side#blue-side, body .game-body .side#blue-side::before, body .game-body .side#blue-side::after {
  border-bottom-right-radius: 100%;
}

body .game-body .side#blue-side::after {
  -webkit-box-shadow: inset calc(3vmin * -1) calc(3vmin * -1) 3vmin 3vmin #fff2;
          box-shadow: inset calc(3vmin * -1) calc(3vmin * -1) 3vmin 3vmin #fff2;
}

body .game-body .side#yellow-side {
  --def-color: yellow;
  --def-light-color: #ffa;
  background: var(--def-color);
}

body .game-body .side#yellow-side .text {
  right: 13%;
  top: 13%;
}

body .game-body .side#yellow-side, body .game-body .side#yellow-side::before, body .game-body .side#yellow-side::after {
  border-bottom-left-radius: 100%;
}

body .game-body .side#yellow-side::after {
  -webkit-box-shadow: inset calc(3vmin * 1) calc(3vmin * -1) 3vmin 3vmin #fff2;
          box-shadow: inset calc(3vmin * 1) calc(3vmin * -1) 3vmin 3vmin #fff2;
}

:has(body .game-body .side.active) .center-menu .color-ball {
  -webkit-box-shadow: inset 0 0 10vmin 1vmin var(--ball-color), 0 0 4vmin var(--ball-color);
          box-shadow: inset 0 0 10vmin 1vmin var(--ball-color), 0 0 4vmin var(--ball-color);
}

body .game-body .side.active::before {
  opacity: 1;
}

body .game-body .side.active .text {
  scale: 1.15;
}

body .game-body .center-menu {
  position: absolute;
  inset: 27%;
  background: #112;
  border-radius: 50%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

body .game-body .center-menu .color-ball {
  position: absolute;
  pointer-events: none;
  inset: 10%;
  border-radius: 50%;
  background: #eee;
  -webkit-transition: .15s;
  transition: .15s;
}

body #main-canvas {
  position: absolute;
}

body .game-features {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1em MAX(2em, 2vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
  --size-dot: .5rem;
}

body .game-features .pause-button, body .game-features .settings-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: MAX(4rem, 4vmin);
  width: MAX(4rem, 4vmin);
  cursor: pointer;
  -webkit-box-shadow: 0 0 .5em #000a;
          box-shadow: 0 0 .5em #000a;
  border-radius: 50%;
  background: #224a;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

body .game-features .pause-button::before, body .game-features .settings-button::before {
  content: '';
  position: absolute;
  inset: 10%;
  scale: .8;
  opacity: 0;
  background: #eee2;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

body .game-features .pause-button:active::before, body .game-features .settings-button:active::before {
  opacity: 1;
  scale: 1.5;
}

body .game-features .pause-button {
  outline: none;
  border: none;
  color: #eee;
  font-size: 2.5em;
}

body .game-features .settings-button {
  z-index: 10000;
}

body .game-features .settings-button .center-dot, body .game-features .settings-button .left-dot, body .game-features .settings-button .right-dot {
  position: absolute;
  height: var(--size-dot);
  width: var(--size-dot);
  background: #eee;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

body .game-features .settings-button .center-dot {
  border-radius: 50%;
}

body .game-features .settings-button .left-dot, body .game-features .settings-button .right-dot {
  border-radius: 2.5rem;
}

body .game-features .settings-button .left-dot {
  translate: calc(var(--size-dot) * -1.8);
}

body .game-features .settings-button .right-dot {
  translate: calc(var(--size-dot) * 1.8);
}

body .game-features .settings-button.hidden {
  pointer-events: none;
  scale: .65;
  translate: 0 calc((max(4rem, 4vmin) + 1em) * -1.5);
}

body .game-features .points-text {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none;
  left: 50%;
  translate: -50%;
  font-size: 1.4em;
  font-weight: 600;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #eee;
}

body .game-features .points-text .score {
  font-weight: 900;
}

body .game-features .points-text .dash, body .game-features .points-text .difficult-score {
  position: relative;
  color: #888;
}

body .game-features .points-text .dash {
  display: inline-block;
  margin: 0 .25em;
}

body .game-features .points-text .difficult-score {
  font-weight: 800;
  scale: 2;
  translate: .5rem .25rem;
}

body .game-features.menu-drop .pause-button {
  pointer-events: none;
  scale: .65;
  translate: 0 calc((max(4rem, 4vmin) + 1em) * -1.5);
}

body .game-features.menu-drop .settings-button {
  --size-dot: .25rem;
}

body .game-features.menu-drop .settings-button .left-dot {
  height: 2.5rem;
  translate: 0;
  rotate: 45deg;
}

body .game-features.menu-drop .settings-button .right-dot {
  height: 2.5rem;
  translate: 0;
  rotate: -45deg;
}

body .game-features.menu-drop .points-text {
  scale: .65;
  translate: -50% calc((max(4rem, 4vmin) + 1em) * -1.5);
}

body .game-features.menu-drop::before {
  opacity: 1;
  pointer-events: initial;
}

body .game-features::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #1128;
  -webkit-backdrop-filter: blur(0.75rem);
          backdrop-filter: blur(0.75rem);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out;
}

body .menu-container {
  font-size: clamp(1rem, 2vw, 1.2rem);
  z-index: 100;
  translate: 0 -100vh;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

body .menu-container.show-menu {
  translate: 0;
}

body .menu-container .start-game, body .menu-container .restart-game, body .menu-container [data-open], body .menu-container [data-open] ~ article > *, body .menu-container .back-menu {
  position: relative;
  width: 100%;
  font-weight: 600;
  letter-spacing: .1vmin;
  padding: calc(min(2vmin, 10px)) 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: transparent;
  border: none;
  color: #eee;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

body .menu-container .start-game::before, body .menu-container .start-game::after, body .menu-container .restart-game::before, body .menu-container .restart-game::after, body .menu-container [data-open]::before, body .menu-container [data-open]::after, body .menu-container [data-open] ~ article > *::before, body .menu-container [data-open] ~ article > *::after, body .menu-container .back-menu::before, body .menu-container .back-menu::after {
  content: '';
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  scale: .8;
  height: 2vmin;
  width: 2vmin;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  opacity: 0;
}

body .menu-container .start-game::before, body .menu-container .restart-game::before, body .menu-container [data-open]::before, body .menu-container [data-open] ~ article > *::before, body .menu-container .back-menu::before {
  left: 0;
  -webkit-transform: translate(3vmin) rotate(-45deg);
          transform: translate(3vmin) rotate(-45deg);
  border-top: .2rem solid currentColor;
  border-left: .2rem solid currentColor;
}

body .menu-container .start-game::after, body .menu-container .restart-game::after, body .menu-container [data-open]::after, body .menu-container [data-open] ~ article > *::after, body .menu-container .back-menu::after {
  right: 0;
  -webkit-transform: translate(-3vmin) rotate(-45deg);
          transform: translate(-3vmin) rotate(-45deg);
  border-bottom: .2rem solid currentColor;
  border-right: .2rem solid currentColor;
}

body .menu-container .start-game:hover, body .menu-container .restart-game:hover, body .menu-container [data-open]:hover, body .menu-container [data-open] ~ article > *:hover, body .menu-container .back-menu:hover {
  letter-spacing: .4vmin;
  text-shadow: 0 0 1vmin;
}

body .menu-container .start-game:hover::before, body .menu-container .start-game:hover::after, body .menu-container .restart-game:hover::before, body .menu-container .restart-game:hover::after, body .menu-container [data-open]:hover::before, body .menu-container [data-open]:hover::after, body .menu-container [data-open] ~ article > *:hover::before, body .menu-container [data-open] ~ article > *:hover::after, body .menu-container .back-menu:hover::before, body .menu-container .back-menu:hover::after {
  opacity: .5;
  scale: 1;
}

body .menu-container .start-game:hover::before, body .menu-container .restart-game:hover::before, body .menu-container [data-open]:hover::before, body .menu-container [data-open] ~ article > *:hover::before, body .menu-container .back-menu:hover::before {
  -webkit-transform: translate(0) rotate(-45deg);
          transform: translate(0) rotate(-45deg);
}

body .menu-container .start-game:hover::after, body .menu-container .restart-game:hover::after, body .menu-container [data-open]:hover::after, body .menu-container [data-open] ~ article > *:hover::after, body .menu-container .back-menu:hover::after {
  -webkit-transform: translate(0) rotate(-45deg);
          transform: translate(0) rotate(-45deg);
}

body .menu-container .start-game.active::before, body .menu-container .start-game.active::after, body .menu-container .restart-game.active::before, body .menu-container .restart-game.active::after, body .menu-container [data-open].active::before, body .menu-container [data-open].active::after, body .menu-container [data-open] ~ article > *.active::before, body .menu-container [data-open] ~ article > *.active::after, body .menu-container .back-menu.active::before, body .menu-container .back-menu.active::after {
  opacity: .75;
  scale: 1;
}

body .menu-container .start-game.active::before, body .menu-container .restart-game.active::before, body .menu-container [data-open].active::before, body .menu-container [data-open] ~ article > *.active::before, body .menu-container .back-menu.active::before {
  -webkit-transform: translate(0) rotate(-135deg);
          transform: translate(0) rotate(-135deg);
}

body .menu-container .start-game.active::after, body .menu-container .restart-game.active::after, body .menu-container [data-open].active::after, body .menu-container [data-open] ~ article > *.active::after, body .menu-container .back-menu.active::after {
  -webkit-transform: translate(0) rotate(45deg);
          transform: translate(0) rotate(45deg);
}

body .menu-container section {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .menu-container section#menu-start {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  gap: 3vmin;
}

body .menu-container section#menu-start .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  max-width: 35rem;
  min-width: 12rem;
}

body .menu-container section#menu-start .buttons .game-settings {
  width: 100%;
}

body .menu-container section#menu-start .buttons .game-settings [data-open] ~ article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .menu-container section#menu-start .buttons .game-settings [data-open] ~ article > * {
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  translate: 0 -1rem;
  pointer-events: none;
  opacity: 0;
  font-weight: inherit;
  min-width: 65%;
  padding: calc(min(1.5vmin, .5rem)) 3vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: inherit;
}

body .menu-container section#menu-start .buttons .game-settings [data-open] ~ article > *:hover {
  letter-spacing: .1vmin;
}

body .menu-container section#menu-start .buttons .game-settings [data-open] ~ article > *.show {
  translate: 0;
  opacity: 1;
  pointer-events: inherit;
}

body .menu-container section#menu-start .buttons .game-settings [data-open] ~ article > * select {
  background: #1124;
  -webkit-backdrop-filter: blur(0.1rem);
          backdrop-filter: blur(0.1rem);
  padding: .5vmin 2vmin;
  outline: none !important;
  border: none !important;
  border-radius: 1vmin;
  text-align: center;
  color: white;
  min-width: 10vmin;
  font-weight: 700;
}

body .menu-container section#menu-settings {
  width: 50vw;
  max-width: 35rem;
  min-width: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .menu-container section:not(.show) {
  display: none !important;
}
/*# sourceMappingURL=styles.css.map */