@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ion-icon {
    pointer-events: none;
}

@mixin numberPosition($range, $x, $y, $border-size) {
    .text {
        #{$x}: $range;
        #{$y}: $range;
    }

    $x-rev: left;
    $y-rev: top;
    $shadow-x: 1;
    $shadow-y: 1;

    @if $x == left {
        $x-rev: right;
        $shadow-x: -1;
    }

    @if $y == top {
        $y-rev: bottom;
        $shadow-y: -1;
    }


    &, &::before, &::after {
        border-#{$y-rev}-#{$x-rev}-radius: 100%;
    }

    &::after {
        box-shadow: inset calc(#{$border-size} * #{$shadow-x}) calc(#{$border-size} * #{$shadow-y}) $border-size $border-size #fff2;
    }
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #112;
    font-family: Poppins;
    color: #eee;

    .game-body {
        position: absolute;
        height: 80vmin;
        width: 80vmin;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3vmin;
        border-radius: 50%;
        --ball-color: transparent;

        .side {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            user-select: none;
            font-size: 20vmin;
            font-weight: 700;
            color: #0003;
            border-radius: 4vmin;
            $center-dist: 13%;
            $border-size: 3vmin;

            .text {
                position: absolute;
                height: 75%;
                width: 75%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: scale ease-in-out .2s;
            }

            &::after {
                content: '';
                inset: $border-size / 2;
                position: absolute;
                border-radius: 4vmin;
            }

            &::before {
                content: '';
                pointer-events: none;
                opacity: 0;
                position: absolute;
                inset: -.5rem;
                background: var(--def-light-color);
                border-radius: 4vmin;
                filter: blur(1vmin);
                transition: opacity ease-in-out .15s;
                z-index: -1;
            }

            &#green-side {
                --def-color: #0a4;
                --def-light-color: #7fa;
                background: var(--def-color);

                @include numberPosition($center-dist, right, bottom, $border-size);
            }

            &#red-side {
                --def-color: #e22;
                --def-light-color: #f99;
                background: var(--def-color);

                @include numberPosition($center-dist, left, bottom, $border-size);
            }

            &#blue-side {
                --def-color: #07f;
                --def-light-color: #6cf;
                grid-column: 2;
                grid-row: 2;
                background: var(--def-color);

                @include numberPosition($center-dist, left, top, $border-size);
            }

            &#yellow-side {
                --def-color: yellow;
                --def-light-color: #ffa;
                background: var(--def-color);

                @include numberPosition($center-dist, right, top, $border-size);
            }

            &.active {
                :has(&) {
                    .center-menu .color-ball {
                        box-shadow: inset 0 0 10vmin 1vmin var(--ball-color),
                                    0 0 4vmin var(--ball-color);
                    }
                }

                &::before {
                    opacity: 1;
                }

                .text {
                    scale: 1.15;
                }
            }
        }

        .center-menu {
            position: absolute;
            inset: 27%;
            background: #112;
            border-radius: 50%;
            z-index: 100;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .color-ball {
                position: absolute;
                pointer-events: none;
                inset: 10%;
                border-radius: 50%;
                background: #eee;
                transition: .15s;
            }
        }
    }

    #main-canvas {
        position: absolute;
    }

    .game-features {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 1em MAX(2em, 2vw);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        z-index: 100;

        --size-dot: .5rem;
        $size-bar: 2.5rem;

        .pause-button, .settings-button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: MAX(4rem, 4vmin);
            width: MAX(4rem, 4vmin);
            cursor: pointer;
            box-shadow: 0 0 .5em #000a;
            border-radius: 50%;
            background: #224a;
            transition: .2s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                inset: 10%;
                scale: .8;
                opacity: 0;
                background: #eee2;
                border-radius: 50%;
                transition: .2s;
            }

            &:active::before {
                opacity: 1;
                scale: 1.5;
            }
        }

        .pause-button {
            outline: none;
            border: none;
            color: #eee;
            font-size: 2.5em;
        }

        .settings-button {
            z-index: 10000;

            .center-dot, .left-dot, .right-dot {
                position: absolute;
                height: var(--size-dot);
                width: var(--size-dot);
                background: #eee;
                transition: .35s ease-in-out;
            }

            .center-dot {
                border-radius: 50%;
            }

            .left-dot, .right-dot {
                border-radius: $size-bar;
            }

            .left-dot {
                translate: calc(var(--size-dot) * -1.8);
            }

            .right-dot {
                translate: calc(var(--size-dot) * 1.8);
            }

            &.hidden {
                pointer-events: none;
                scale: .65;
                translate: 0 calc((max(4rem, 4vmin) + 1em) * -1.5);
            }
        }

        .points-text {
            position: absolute;
            pointer-events: none;
            left: 50%;
            translate: -50%;
            font-size: 1.4em;
            font-weight: 600;
            transition: .2s ease-in-out;
            color: #eee;

            .score {
                font-weight: 900;
            }

            .dash, .difficult-score {
                position: relative;
                color: #888;
            }

            .dash {
                display: inline-block;
                margin: 0 .25em;
            }

            .difficult-score {
                font-size: 2em;
                font-weight: 800;
            }

            .difficult-score::before {
                content: attr(data-difficult-score);
            }
        }

        &.menu-drop {
            .pause-button {
                pointer-events: none;
                scale: .65;
                translate: 0 calc((max(4rem, 4vmin) + 1em) * -1.5);
            }

            .settings-button {
                --size-dot: .25rem;

                .left-dot {
                    height: $size-bar;
                    translate: 0;
                    rotate: 45deg;
                }
                
                .right-dot {
                    height: $size-bar;
                    translate: 0;
                    rotate: -45deg;
                }
            }

            .points-text {
                scale: .65;
                translate: -50% calc((max(4rem, 4vmin) + 1em) * -1.5);
            }

            &::before {
                opacity: 1;
                pointer-events: initial;
            }
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: #1128;
            backdrop-filter: blur(.75rem);
            opacity: 0;
            pointer-events: none;
            transition: .45s ease-in-out;
        }
    }

    .menu-container {
        font-size: clamp(.8rem, 2vw, 1.2rem);
        z-index: 100;
        translate: 0 -100vh;
        transition: .4s ease-in-out;

        &.show-menu  {
            translate: 0;
        }

        section {
            user-select: none;

            &#menu-start {
                height: 80vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                gap: 3vmin;

                .buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2vmin;

                    > * {
                        cursor: pointer;
                    }
                }
            }

            &:not(.show) {
                display: none !important;
            }
        }
    }
}